<ng-template [ngIf]="searchService.isOptionsEmpty$ | async" [ngIfElse]="show">
	<p>
		No Search List Available
	</p>
</ng-template>

<ng-template #show>
	<div class="mt-4 mb-4" *ngIf="searchService.options$ | async as selectedOptions">
		<header *ngIf="selectedOptions.length > 0">
			<h3>Search Result list</h3>
		</header>
		<div class="card" *ngFor="let item of selectedOptions">
			<div class="row" *ngIf="selectedOptions.length > 0">
				<div>
					<div class="col-9 p-4">
						<h5>{{item.fullName}}</h5>
            <p>{{item.title}}</p>
            <p>{{item.company}}</p>
						<p>
              <span>FullName: {{item.fullName}} </span>
              <span>Title: {{item.title}} </span>
              <span>Company: {{item.company}} </span>

						</p>
					</div>

				</div>

			</div>
		</div>
	</div>
</ng-template>
