
<div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Title</th>
          <th>Company</th>
          <th>LinkedIn</th>
          <th>Skype</th>
          <th>Tag</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cd of service.list">
          <td>{{cd.fullName}}</td>
          <td>{{cd.email}}</td>
          <td>{{cd.phone}}</td>
          <td>{{cd.title}}</td>
          <td>{{cd.company}}</td>
          <td>{{cd.linkedIn}}</td>
          <td>{{cd.skype}}</td>
          <td>{{cd.tag}}</td>
        </tr>
      </tbody>
    </table>
</div>
