<div class="mt-4 mb-4" *ngIf="searchService.option$ | async as selectedOption">
	<header *ngIf="selectedOption.contactId">
		<h3>Selected Contact</h3>
	</header>
	<div class="card">
		<div class="row" *ngIf="selectedOption.contactId">
			<div class="col-9 p-4">
				<p>{{selectedOption.fullName}}</p>
        <p>{{selectedOption.title}}</p>
        <p>{{selectedOption.company}}</p>
				<p>
					<span>FullName: {{selectedOption.fullName}} </span>
          <span>Title: {{selectedOption.title}} </span>
          <span>Company: {{selectedOption.company}} </span>

				</p>
			</div>
		</div>
	</div>

</div>
