/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .controles-container{width: 100%; padding: 5%;}
.controles-container >*{width: 100%;}

.button-row button{ margin: 5%;} */

/* .mat-ff{width: 100%;}*/

.frm-style {
  min-width: 150px;
  max-width: 500px;
  width: 50%;
  margin: 100px;
}
/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */

.full-width{
  width: 100%;
}

.top-padding{
  padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
  margin-left:10px;
}

.form-container{
  margin: 100px;

}

.grid-container{
  width: 100%;
}

thead th{ font-weight: 400;}

tbody tr:hover{background-color: #fffbf2; cursor: pointer;}
