
<form #form="ngForm" class=" frm-style" (submit)="onSubmit(form)">
  <!-- <mat-grid-tile> -->
  <div class="row">
    <div class="col-md-6">
      <input type="hidden" name="contaId" [value]="service.formData.contactId">
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput class="form-control form-control-lg" placeholder="Full Name"
        name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput placeholder="Email"
        name="email" #email="ngModel" [(ngModel)]="service.formData.email">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput placeholder="Phone Number"
        name="phone" #phone="ngModel" [(ngModel)]="service.formData.phone">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput placeholder="Job Title"
        name="title" #title="ngModel" [(ngModel)]="service.formData.title">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput placeholder="Contact Tag"
        name="tag" #tag="ngModel" [(ngModel)]="service.formData.tag">
      </mat-form-field>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-3">
    <mat-form-field class="mat-ff">
      <input matInput placeholder="Company Name"
      name="company" #company="ngModel" [(ngModel)]="service.formData.company">
    </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="mat-ff">
        <input matInput placeholder="LinkedIn Link"
        name="linkedIn" #linkedIn="ngModel" [(ngModel)]="service.formData.linkedIn">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field >
        <input matInput placeholder="Skype Name"
        name="skype" #skype="ngModel" [(ngModel)]="service.formData.skype">
      </mat-form-field>
    </div>
    <div class="button-row form-group">
      <button mat-raised-button color="primary" type="submit">SUBMIT</button>
    </div>
  </div>
</div>
  <!-- </mat-grid-tile> -->
</form>
